<div class="footer">

    <div class="footer-content">
        <div class="container">

            <div class="row">
                <div class="col-lg-3">      <a class="navbar-brand text-light fw-bold fs-3"  href="#"> <img src="https://i.postimg.cc/qB2sQQR9/png-clipart-e-commerce-shopify-logo-web-design-magento-shopping-cart-grass-business-thumbnail-remove.png" alt="" width="70px">  S <span class="text-warning fw-bold fs-3">h</span> o <span class="text-warning fw-bold fs-3">p</span>  y</a>
                    <div class="footer-para">
                        If you would like to experience the best of online shopping for men women and kids in India, you are at the right place.
                    </div>
                    <div class="social">
                        <Button class='btnnn'><i class="fa-brands fa-xl fa-facebook" style="color: #0bbd1d;"></i></Button>
                        <Button class='btnnn'> <i class="fa-brands fa-xl fa-twitter" style="color: #0bbd1d;"></i></Button>
                        <Button class='btnnn'><i class="fa-brands fa-xl fa-square-instagram" style="color: #0bbd1d;"></i></Button>
                        <Button class='btnnn'> <i class="fa-brands fa-xl fa-youtube" style="color: #0bbd1d;"></i></Button>




                    </div>
                </div>
                <div class="col-lg-3" md="auto"><span style="color: yellow;">Online Shopping</span>
                    <div class='box'>
                        <a href='' class="link">Men</a> <br />
                        <a href=''>Women</a><br />
                        <a href=''> Kids</a><br />
                        <a href=''>Beauty</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <span style="color: yellow;"> Useful Links</span>
                    <div class="box">
                        <a href=''>Blog</a> <br />
                        <a href=''>Careers</a><br />
                        <a href=''>Site Map</a><br />
                        <a href=''>Coperate Information</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <span style="color: yellow;"> Customr Policy</span>
                    <div class="box" style="text-decoration: none;">
                        <a href=''>Shipping</a> <br />
                        <a href=''>Privacy & Policy</a><br />
                        <a href=''>Terms & Conditions</a><br />
                        <a href=''>FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>